*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
    
}


body {
    height: 100vh;
    width: 100% ;
    
}
main {
  width: 100%
}

/* Top Header */

#nav-open-btn {
  display: none;

}

#top-header {
  background-color: aqua;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.menu-logo {
  margin-left: 0.5rem;
 }

#top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height:100%;
  margin-right: 2rem;
  margin-left: 2rem;
}

.top-menu {
  min-width: 65%;
  max-width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-menu .menu-item {
  display: inline-block;
  margin-right: 1rem;
}

.fa, .nav-btn {
  font-size: 24px;
}

.nav-btn {
  padding: 0.5rem 0.5rem 0.5rem 0;
  height: 2.5rem;
  width: 2.5rem;
}

.nav-btn:hover {
  cursor: pointer;
}

.icon {
  height:100%;
  width:  100%;
}

/* Side Navbar */
.side-nav-top {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}


section {
  background-color: lightblue;  
  width: 100%;
  padding: 3rem 0;
}

.showcase {
  margin: 1.5rem auto;
  width: 95%;

}
.showcase-article {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase-5, .showcase-6 {
  background-color: pink;
}

#side-nav {
  background-color: black;
  width: 100%;
  max-width: 550px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
}

.side-nav-top {
  color: white;
  height: 3.5rem;
}

.side-menu {
  margin-left: 1rem;
}
.side-menu li a {
 color: white;
 text-decoration: none;
 font-size: 1.5rem;
 display: inline-block;
 height: 2rem;
}

.side-nav-footer {
  padding: 1.5rem 2.5rem 3rem 2.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1c1e24;
}

.side-nav-footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.side-nav-icon {
  height: 2.5rem;
  width: 2.5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.side-nav-icon a {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.side-nav-icon .fab {
  font-size: 1.5rem;
  color: white;
}

/* Latest Articles */ 

.latest-articles-wrapper {
  margin: 2rem 0;
  padding: 3rem 0;
}

.latest-articles {
  background-color: beige;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(2rem, auto);  
  grid-gap: 0.5rem;
  justify-items: center;

}

.latest-art {
  background-color: aqua;
  width: 90%;
  display: flex;
  justify-content: center;
}

.latest-art p {
  margin-left: 1rem;
}

/* Latest Stories */

.stories { 
  /* change at 750px width: ; */
  padding:1rem 3rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stories li {
  display: flex;
  margin: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

.stories-left {
  min-width: 10vw;
  min-height: 10vw;
  width: 15px;
  height: 15px;
  max-height: 25vw;
  max-width: 25vw; 
  background-color: brown;
  margin-right: 1rem;
  flex-shrink: 0;
}


@media screen and (max-width: 550px) {

  #nav-open-btn {
    display:inline-block;
  }  
  .top-menu {
    display: none;
  }

  .showcase {
    overflow-x: auto;
    display: flex;
  }

  .showcase-article {
    min-width: 70vw;  
    min-height: 70vw;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .showcase-5 {
    display: none;
  }

  .showcase-6 {
    height: 250px;
    width: 95vw;
    margin: 0 auto;
  }

}

@media screen and (min-width: 551px) {
  .showcase-6 {
    display: none;
  }

  .showcase-5 {
    display: flex;
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .showcase {
    height: 80vh;
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5rem;
    
  }

  .showcase-1 {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: aqua;
  }
}

@media screen and (min-width: 780px) {
  
}

@media screen and (min-width: 1020px) {
  .showcase {
    max-height: 80vh;
    /* display: grid; */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .showcase-1 {
    grid-column: 1 / span 4;
    grid-row: 1/ span 3;
  }

  .showcase-2, .showcase-3 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .showcase-5 {
    grid-column: 1 / span 4;
    grid-row: 4 / span 2;
  }

  .showcase-4 {
    grid-column: 5 / span 4;
    grid-row: 3 / span 3;
  }

  .latest-articles {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
