*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
    
}


body {
    height: 100vh;
    width: 100% ;
    
}
main {
  width: 100%
}

#top-header {
  background-color: aqua;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.menu-logo {
  margin-left: 0.5rem;
 }

#top-nav {
  display: flex;
  align-items: center;
  width: 100%;
  min-height:100%;
  margin-right: 15px;
  margin-left: 15px;
}

.fa, .nav-btn {
  font-size: 24px;
}

.nav-btn {
  margin-left: 0.5rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.icon {
  height:100%;
  width:  100%;
}

/* Side Navbar */
.side-nav-top {
  display: flex;
  align-items: center;
}
section {
  background-color: lightblue;  
  width: 100%
}

.showcase {
  margin: 1.5rem auto;
  width: 95%;

}
.showcase-article {
  background-color: cadetblue;
}
.showcase-5, .showcase-6 {
  background-color: pink;
}

#side-nav {
  background-color: black;
  width: 100%;
  height:100vh;
  max-width: 550px;
}

.side-menu .menu-item li a {
 color: white;
 text-decoration: none;
}


@media screen and (max-width: 550px) {

  .top-menu {
    display: none;
  }

  .showcase {
    overflow-x: auto;
    display: flex;
  }

  .showcase-article {
    min-width: 70vw;  
    min-height: 70vw;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .showcase-5 {
    display: none;
  }

  .showcase-6 {
    height: 250px;
    width: 95vw;
    background-color: pink;
    margin: 0 auto;
  }

}
